In [1]:
#import necessary dependencies
import numpy as np
import pandas as pd

In [2]:
#load and explore our dataset
df = pd.read_csv('After2000USTempByCity.csv')
df.head()

   Unnamed: 0          dt     City        Country  AverageTemperature
0       54749  2000-02-01  Chicago  United States               4.083
1       54750  2000-03-01  Chicago  United States               8.274
2       54751  2000-04-01  Chicago  United States               7.615
3       54752  2000-05-01  Chicago  United States              13.867
4       54753  2000-06-01  Chicago  United States              17.939

In [3]:
#examine dataset columns
df.columns

Index(['Unnamed: 0', 'dt', 'City', 'Country', 'AverageTemperature'], dtype='object')

In [4]:
#rename the unnamed column
df = df.rename(columns={'Unnamed: 0':'recordid'})
df

     recordid          dt      City        Country  AverageTemperature
0       54749  2000-02-01   Chicago  United States               4.083
1       54750  2000-03-01   Chicago  United States               8.274
2       54751  2000-04-01   Chicago  United States               7.615
3       54752  2000-05-01   Chicago  United States              13.867
4       54753  2000-06-01   Chicago  United States              17.939
5       54754  2000-07-01   Chicago  United States              21.087
6       54755  2000-08-01   Chicago  United States              22.840
7       54756  2000-09-01   Chicago  United States              19.061
8       54757  2000-10-01   Chicago  United States              15.110
9       54758  2000-11-01   Chicago  United States               6.824
10      54759  2000-12-01   Chicago  United States              -3.761
11      54760  2001-01-01   Chicago  United States               0.598
12      54761  2001-02-01   Chicago  United States               0.437
13      54762  2001-03-01   Chicago  United States               2.763
14      54763  2001-04-01   Chicago  United States              10.273
15      54764  2001-05-01   Chicago  United States              13.508
16      54765  2001-06-01   Chicago  United States              17.654
17      54766  2001-07-01   Chicago  United States              22.661
18      54767  2001-08-01   Chicago  United States              23.986
19      54768  2001-09-01   Chicago  United States              18.088
20      54769  2001-10-01   Chicago  United States              13.081
21      54770  2001-11-01   Chicago  United States              11.987
22      54771  2001-12-01   Chicago  United States               5.401
23      54772  2002-01-01   Chicago  United States               4.030
24      54773  2002-02-01   Chicago  United States               3.846
25      54774  2002-03-01   Chicago  United States               2.565
26      54775  2002-04-01   Chicago  United States               8.547
27      54776  2002-05-01   Chicago  United States              10.305
28      54777  2002-06-01   Chicago  United States              19.011
29      54778  2002-07-01   Chicago  United States              24.428
..        ...         ...       ...            ...                 ...
462    172978  2011-04-01  New York  United States              10.555
463    172979  2011-05-01  New York  United States              16.917
464    172980  2011-06-01  New York  United States              21.032
465    172981  2011-07-01  New York  United States              24.564
466    172982  2011-08-01  New York  United States              22.130
467    172983  2011-09-01  New York  United States              19.301
468    172984  2011-10-01  New York  United States              12.001
469    172985  2011-11-01  New York  United States               8.013
470    172986  2011-12-01  New York  United States               2.987
471    172987  2012-01-01  New York  United States              -0.041
472    172988  2012-02-01  New York  United States               2.185
473    172989  2012-03-01  New York  United States               8.734
474    172990  2012-04-01  New York  United States              10.324
475    172991  2012-05-01  New York  United States              17.779
476    172992  2012-06-01  New York  United States              20.165
477    172993  2012-07-01  New York  United States              24.479
478    172994  2012-08-01  New York  United States              22.731
479    172995  2012-09-01  New York  United States              18.177
480    172996  2012-10-01  New York  United States              12.436
481    172997  2012-11-01  New York  United States               4.103
482    172998  2012-12-01  New York  United States               2.586
483    172999  2013-01-01  New York  United States              -0.968
484    173000  2013-02-01  New York  United States              -1.365
485    173001  2013-03-01  New York  United States               2.518
486    173002  2013-04-01  New York  United States               9.723
487    173003  2013-05-01  New York  United States              15.544
488    173004  2013-06-01  New York  United States              20.892
489    173005  2013-07-01  New York  United States              24.722
490    173006  2013-08-01  New York  United States              21.001
491    173007  2013-09-01  New York  United States              17.408

[492 rows x 5 columns]

In [5]:
#create a second dataset with just the records from Chicago
df2 = df.loc[df['City'] == 'Chicago']
#take the second dataset and set the city to Rockford 
#we are creating a secondary dataset for example purposes only
df2.loc[:,'City'] = 'Rockford'
df2

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

     recordid          dt      City        Country  AverageTemperature
0       54749  2000-02-01  Rockford  United States               4.083
1       54750  2000-03-01  Rockford  United States               8.274
2       54751  2000-04-01  Rockford  United States               7.615
3       54752  2000-05-01  Rockford  United States              13.867
4       54753  2000-06-01  Rockford  United States              17.939
5       54754  2000-07-01  Rockford  United States              21.087
6       54755  2000-08-01  Rockford  United States              22.840
7       54756  2000-09-01  Rockford  United States              19.061
8       54757  2000-10-01  Rockford  United States              15.110
9       54758  2000-11-01  Rockford  United States               6.824
10      54759  2000-12-01  Rockford  United States              -3.761
11      54760  2001-01-01  Rockford  United States               0.598
12      54761  2001-02-01  Rockford  United States               0.437
13      54762  2001-03-01  Rockford  United States               2.763
14      54763  2001-04-01  Rockford  United States              10.273
15      54764  2001-05-01  Rockford  United States              13.508
16      54765  2001-06-01  Rockford  United States              17.654
17      54766  2001-07-01  Rockford  United States              22.661
18      54767  2001-08-01  Rockford  United States              23.986
19      54768  2001-09-01  Rockford  United States              18.088
20      54769  2001-10-01  Rockford  United States              13.081
21      54770  2001-11-01  Rockford  United States              11.987
22      54771  2001-12-01  Rockford  United States               5.401
23      54772  2002-01-01  Rockford  United States               4.030
24      54773  2002-02-01  Rockford  United States               3.846
25      54774  2002-03-01  Rockford  United States               2.565
26      54775  2002-04-01  Rockford  United States               8.547
27      54776  2002-05-01  Rockford  United States              10.305
28      54777  2002-06-01  Rockford  United States              19.011
29      54778  2002-07-01  Rockford  United States              24.428
..        ...         ...       ...            ...                 ...
134     54883  2011-04-01  Rockford  United States               7.383
135     54884  2011-05-01  Rockford  United States              12.133
136     54885  2011-06-01  Rockford  United States              18.011
137     54886  2011-07-01  Rockford  United States              24.412
138     54887  2011-08-01  Rockford  United States              23.414
139     54888  2011-09-01  Rockford  United States              18.331
140     54889  2011-10-01  Rockford  United States              13.837
141     54890  2011-11-01  Rockford  United States               9.555
142     54891  2011-12-01  Rockford  United States               5.327
143     54892  2012-01-01  Rockford  United States               2.670
144     54893  2012-02-01  Rockford  United States               3.698
145     54894  2012-03-01  Rockford  United States              12.145
146     54895  2012-04-01  Rockford  United States               8.383
147     54896  2012-05-01  Rockford  United States              14.956
148     54897  2012-06-01  Rockford  United States              19.532
149     54898  2012-07-01  Rockford  United States              25.909
150     54899  2012-08-01  Rockford  United States              22.778
151     54900  2012-09-01  Rockford  United States              18.693
152     54901  2012-10-01  Rockford  United States              12.229
153     54902  2012-11-01  Rockford  United States               7.270
154     54903  2012-12-01  Rockford  United States               5.592
155     54904  2013-01-01  Rockford  United States               1.056
156     54905  2013-02-01  Rockford  United States              -0.509
157     54906  2013-03-01  Rockford  United States               1.323
158     54907  2013-04-01  Rockford  United States               6.644
159     54908  2013-05-01  Rockford  United States              13.734
160     54909  2013-06-01  Rockford  United States              17.913
161     54910  2013-07-01  Rockford  United States              21.914
162     54911  2013-08-01  Rockford  United States              22.230
163     54912  2013-09-01  Rockford  United States              19.977

[164 rows x 5 columns]

In [6]:
#adjust Rockford temp to be 2 deg higher than Chicago
df2.loc[:,'AverageTemperature'] += 2
df2

     recordid          dt      City        Country  AverageTemperature
0       54749  2000-02-01  Rockford  United States               6.083
1       54750  2000-03-01  Rockford  United States              10.274
2       54751  2000-04-01  Rockford  United States               9.615
3       54752  2000-05-01  Rockford  United States              15.867
4       54753  2000-06-01  Rockford  United States              19.939
5       54754  2000-07-01  Rockford  United States              23.087
6       54755  2000-08-01  Rockford  United States              24.840
7       54756  2000-09-01  Rockford  United States              21.061
8       54757  2000-10-01  Rockford  United States              17.110
9       54758  2000-11-01  Rockford  United States               8.824
10      54759  2000-12-01  Rockford  United States              -1.761
11      54760  2001-01-01  Rockford  United States               2.598
12      54761  2001-02-01  Rockford  United States               2.437
13      54762  2001-03-01  Rockford  United States               4.763
14      54763  2001-04-01  Rockford  United States              12.273
15      54764  2001-05-01  Rockford  United States              15.508
16      54765  2001-06-01  Rockford  United States              19.654
17      54766  2001-07-01  Rockford  United States              24.661
18      54767  2001-08-01  Rockford  United States              25.986
19      54768  2001-09-01  Rockford  United States              20.088
20      54769  2001-10-01  Rockford  United States              15.081
21      54770  2001-11-01  Rockford  United States              13.987
22      54771  2001-12-01  Rockford  United States               7.401
23      54772  2002-01-01  Rockford  United States               6.030
24      54773  2002-02-01  Rockford  United States               5.846
25      54774  2002-03-01  Rockford  United States               4.565
26      54775  2002-04-01  Rockford  United States              10.547
27      54776  2002-05-01  Rockford  United States              12.305
28      54777  2002-06-01  Rockford  United States              21.011
29      54778  2002-07-01  Rockford  United States              26.428
..        ...         ...       ...            ...                 ...
134     54883  2011-04-01  Rockford  United States               9.383
135     54884  2011-05-01  Rockford  United States              14.133
136     54885  2011-06-01  Rockford  United States              20.011
137     54886  2011-07-01  Rockford  United States              26.412
138     54887  2011-08-01  Rockford  United States              25.414
139     54888  2011-09-01  Rockford  United States              20.331
140     54889  2011-10-01  Rockford  United States              15.837
141     54890  2011-11-01  Rockford  United States              11.555
142     54891  2011-12-01  Rockford  United States               7.327
143     54892  2012-01-01  Rockford  United States               4.670
144     54893  2012-02-01  Rockford  United States               5.698
145     54894  2012-03-01  Rockford  United States              14.145
146     54895  2012-04-01  Rockford  United States              10.383
147     54896  2012-05-01  Rockford  United States              16.956
148     54897  2012-06-01  Rockford  United States              21.532
149     54898  2012-07-01  Rockford  United States              27.909
150     54899  2012-08-01  Rockford  United States              24.778
151     54900  2012-09-01  Rockford  United States              20.693
152     54901  2012-10-01  Rockford  United States              14.229
153     54902  2012-11-01  Rockford  United States               9.270
154     54903  2012-12-01  Rockford  United States               7.592
155     54904  2013-01-01  Rockford  United States               3.056
156     54905  2013-02-01  Rockford  United States               1.491
157     54906  2013-03-01  Rockford  United States               3.323
158     54907  2013-04-01  Rockford  United States               8.644
159     54908  2013-05-01  Rockford  United States              15.734
160     54909  2013-06-01  Rockford  United States              19.913
161     54910  2013-07-01  Rockford  United States              23.914
162     54911  2013-08-01  Rockford  United States              24.230
163     54912  2013-09-01  Rockford  United States              21.977

[164 rows x 5 columns]

In [11]:
#append the Rockford data to the rest of the city data
df = df.append(df2)

In [12]:
#see the mean temp for each city, notice Rockford is present
#notice Rockford AverageTemperature is 2 degrees higher than Chicago
df.groupby('City').mean()

             recordid  AverageTemperature
City
Chicago       54830.5           11.394396
Los Angeles  133740.5           16.684957
New York     172925.5           10.973963
Rockford      54830.5           13.394396